---
---

@import "{{ site.theme }}";

body {
  background: #252525;
  color: #eaeaea;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  border-bottom: 1px dashed #b5e853;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

h1, h2 {
  color: #b5e853;
}

nav {
  margin: 20px 0;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background: #0f0f0f;
  color: #b5e853;
  text-decoration: none;
  border: 1px solid #b5e853;
  border-radius: 5px;
}

nav a:hover {
  background: #b5e853;
  color: #0f0f0f;
}

.social-links {
  margin-top: 20px;
  text-align: center;
}

.social-links a {
  color: #63c0f5;
  text-decoration: none;
  margin: 0 20px;  /* Increased margin for more spacing */
  display: inline-block;
}

.social-links a:hover {
  text-decoration: underline;
}

.social-links .separator {
  color: #b5e853;
  margin: 0 20px;  /* Match the margin of the links */
}

main {
  text-align: center;
}
